<mat-toolbar class="header">
  <button mat-mini-fab (click)="openMenu()">
    <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon"
      >menu</mat-icon
    >
    <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon"
      >arrow_back</mat-icon
    >
  </button>
  <h6 class="header__title-text">Angular Material Admin</h6>

  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
