<div class="bills">
  <!-- Período -->
  <mat-form-field appearance="fill">
    <mat-label>Período</mat-label>
    <mat-select>
      <mat-option>Nenhum</mat-option>
      <mat-option *ngFor="let date of dateOptions" [value]="date.value">{{
        date.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option>Nenhum</mat-option>
      <mat-option *ngFor="let status of statusOptions" [value]="status.value">{{
        status.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Tipo -->
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select>
      <mat-option>Nenhum</mat-option>
      <mat-option *ngFor="let type of typeOptions" [value]="type.value">{{
        type.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
