@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/font';


.tasks {

  >* {
    width: 100%;

  }

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0rem 2rem 0rem;
    gap: 1rem;

    >button {
      margin-right: 2rem;
      background-color: $green;
    }
  }

  &__postits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    height: auto;
    max-width: 100vw;
  }
}
