<app-layout>
  <div class="tasks">
    <div class="tasks__actions">
      <button mat-fab aria-label="Incluir Tarefa" appUpElevation>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="tasks__postits">
      <app-post-it
        [color]="1"
        [text]="'Comprar Teclado'"
        [date]="'04/11/2022'"></app-post-it>

      <app-post-it
        [color]="2"
        [text]="'Verificar Rodinha da cadeira'"
        [date]="'03/11/2022'"></app-post-it>

      <app-post-it
        [color]="3"
        [text]="'Task...'"
        [date]="'06/11/2022'"></app-post-it>
      <app-post-it
        [color]="4"
        [text]="'Task...'"
        [date]="'07/11/2022'"></app-post-it>
      <app-post-it
        [color]="5"
        [text]="'Task...'"
        [date]="'08/11/2022'"></app-post-it>
      <app-post-it
        [color]="2"
        [text]="'Task...'"
        [date]="'09/11/2022'"></app-post-it>
      <app-post-it
        [color]="4"
        [text]="'Task...'"
        [date]="'10/11/2022'"></app-post-it>
      <app-post-it
        [color]="1"
        [text]="'Task...'"
        [date]="'11/11/2022'"></app-post-it>
      <app-post-it
        [color]="3"
        [text]="'Task...'"
        [date]="'12/11/2022'"></app-post-it>
    </div>
  </div>
</app-layout>
