<div class="login-page">
  <div class="login-page__content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content" fxLayout="row" fxLayout.xs="column">
          <div fxFlex="15" class="sec1" fxFlex.xs="55">first-section</div>
          <div fxFlex="30" class="sec2">second-section</div>
          <div fxFlex="55" class="sec3" fxFlex.xs="15">third-section</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
