<div class="login-page" fxLayout="column wrap" fxLayoutAlign="center center">
  <mat-card class="login-page__card">
    <h1 class="login-page__card--title">Login</h1>
    <mat-card-content>
      <form
        class="form"
        id="form"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        fxLayoutGap="20">
        <mat-form-field
          class="form__input form__input--email"
          appearance="fill">
          <input matInput placeholder="E-mail" type="email" required />
        </mat-form-field>

        <mat-form-field
          class="form__input form__input--password"
          appearance="fill">
          <input matInput placeholder="Senha" type="password" required />
        </mat-form-field>

        <div
          class="form__actions"
          fxLayout="column"
          fxLayoutAlign="center stretch"
          fxLayoutGap="20">
          <button
            class="form__actions--login"
            mat-raised-button
            color="primary"
            type="submit">
            Login
          </button>
          <button class="form__actions--forget" mat-button>
            Esqueceu a senha ?
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="login-page__copyright">
    Copyright © {{ year }} - Gestão Familiar
  </div>
</div>
