*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10/ 16 0.625 * 16 px
  (font-size default) = 10px que nós queremos */
  /* font-size: 10px <--> Com o font-size de
  nosso documento sendo 10px, 1rem = 10px
  (Igual ao font-size do nosso
  root). */
}
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


