@import 'colors';
@import 'font';
@import 'variables';

//Classes
.app-button {
  font-size: 15px;
  transition: all 0.1s;
  &:hover:not(:disabled) {
    background: $blue;
    transform: scale(1.01);
  }
}

.authentication_layout {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  position: relative;

  &__card {
    width: 30vw;
    border-radius: $borderRadius;

    > h3 {
      color: $blue;
      margin-bottom: 2rem;
      font-style: italic;
      font-weight: bold;
    }

    @media screen and (min-width: map-get($auth-card-breakpoints, xxl)) {
      width: 50vw;
    }

    @media screen and (min-width: map-get($auth-card-breakpoints, lg)) and (max-width: map-get($auth-card-breakpoints, xl)) {
      width: 50vw;
    }

    @media screen and (min-width: map-get($auth-card-breakpoints, md)) and (max-width: map-get($auth-card-breakpoints, lg)) {
      width: 65vw;
    }

    @media screen and (min-width: map-get($auth-card-breakpoints, sm)) and (max-width: map-get($auth-card-breakpoints, md)) {
      width: 75vw;
    }

    @media screen and (max-width: map-get($auth-card-breakpoints, sm)) {
      width: 92vw;
    }
  }

  &__copyright {
    position: absolute;
    bottom: 2rem;
    color: $white;
    z-index: 1;
  }
}

.green-snackbar {
  background: $green !important;
  color: $white !important;
}
.green-snackbar button {
  background-color: $green !important;
  color: $white !important;
  border: none !important;
}
.red-snackbar {
  background: $dark-pink !important;
  color: $white !important;
}
.red-snackbar button {
  background-color: $dark-pink !important;
  color: $white !important;
  border: none !important;
}
