<app-layout>
  <div class="bills">
    <div class="bills__actions">
      <button mat-fab aria-label="Incluir conta" appUpElevation>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <app-bills-filters></app-bills-filters>
  </div>

  <!-- <mat-card-content class="bills-content">
    <div class="bills-content__wrapper">
      <div class="bills-content__actions">
        <button mat-mini-fab disabled aria-label="Incluir conta">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <mat-card class="bills-content__item-wrapper">
        <mat-card-title>
          <p>Contas</p>
        </mat-card-title>
      </mat-card>
    </div>
  </mat-card-content> -->
</app-layout>
