@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/font';

.bills {

  >* {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0rem 1rem 0rem;
    gap: 1rem;

    >button {
      margin-right: 2rem;
      background-color: $green;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    &-filters {
      width: 100%;
      gap: 1rem;

      @media (max-width: 470px) {
        width: auto;
        gap: 1rem;
      }
    }

    &-card {
      width: 30rem;
      height: 25rem;
      background-color: $white;
      box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px #b2b2b21a,
        0 1px 8px 0 #9a9a9a1a;
      border-radius: $card-border-radius;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >h3 {
      margin-top: .1rem;
      color: $grey;
    }

    @media (max-width: 460px) {
      >img {
        width: 90vw;
      }
    }
  }
}
