@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/font';

.bills {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0rem 2rem 0rem;
    gap: 1rem;

    > button {
      margin-right: 2rem;
    }
  }

  &__filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    @media (max-width: 470px) {
      justify-content: center;
      width: auto;
      gap: 1rem;
    }
  }
}

.bills-content {
  &__wrapper {
    display: flex;
    padding: 0 8px;

    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__item-wrapper {
    box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px #b2b2b21a,
      0 1px 8px 0 #9a9a9a1a;
    width: 100%;
    margin: 16px;
  }

  &__headings,
  &__colors,
  &__settings,
  &__size {
    margin-top: 8px;
    border: 1px dashed $blue;
    padding: 32px 16px;

    h1 {
      @media (max-width: $small) {
        line-height: 46px;
      }
    }
  }

  &__colors {
    &_blue {
      color: $blue;
    }

    &_green {
      color: $green;
    }

    &_pink {
      color: $pink;
    }

    &_yellow {
      color: $yellow;
    }

    &_light-blue {
      color: $light-blue;
    }

    &_violet {
      color: $violet;
    }
  }
}

.fw-light {
  font-weight: $fw-lighter;
}

.fw-medium {
  font-weight: $fw-normal;
}

.fw-bold {
  font-weight: $fw-bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.fst-italic {
  font-style: italic;
}

.fs-sm {
  font-size: $fs-xs;
}

.fs-regular {
  font-size: $fs-small;
}

.fs-md {
  font-size: $fs-medium;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxxl;
}
