@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/font';

.profile-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;

  > h3 {
    margin: 2rem;
    color: $grey;
  }

  @media (max-width: 460px) {
    > img {
      width: 90vw;
    }
  }
}

.fw-light {
  font-weight: $fw-lighter;
}

.fw-medium {
  font-weight: $fw-normal;
}

.fw-bold {
  font-weight: $fw-bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.fst-italic {
  font-style: italic;
}

.fs-sm {
  font-size: $fs-xs;
}

.fs-regular {
  font-size: $fs-small;
}

.fs-md {
  font-size: $fs-medium;
}

.fs-xl {
  font-size: $fs-xl;
}

.fs-xxl {
  font-size: $fs-xxxl;
}
