.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 0.7rem;
  }

  &__actions {
    &-signup {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &-container {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin-bottom: 0.2rem;
    }
  }
}
