<app-authentication-layout [title]="'Cadastro'">
  <form
    class="form"
    id="form"
    [formGroup]="signupForm"
    (submit)="handleSignup()">
    <mat-form-field class="form__input form__input--name" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="name" required />
      <mat-icon matSuffix>person_add</mat-icon>
      <mat-error
        ><app-custom-validation-message
          controlName="name"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__input form__input-field" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error
        ><app-custom-validation-message
          controlName="email"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__input form__input-field" appearance="fill">
      <mat-label>Digite Sua Senha</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
        minlength="6" />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Ocultar Senha'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error
        ><app-custom-validation-message
          controlName="password"
          [minLength]="6"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <button
      class="form__actions-signup app-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signupForm.invalid">
      Cadastrar
    </button>
    <div class="form__actions-container">
      <button class="form__actions-login" mat-button routerLink="/">
        Login
      </button>
    </div>
  </form>
</app-authentication-layout>
