<div class="sidebar">
  <mat-list>
    <mat-list-item
      *ngFor="let menuItem of menuItems"
      [routerLink]="menuItem.routerLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>{{ menuItem.icon }}</mat-icon> {{ menuItem.label }}
    </mat-list-item>
  </mat-list>

  <p class="sidebar__title">Ajuda</p>

  <mat-list>
    <a
      href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Lucas, tudo bem ?&lang=pt_pt"
      target="_blank"
      style="text-decoration: none">
      <mat-list-item>
        <mat-icon>library_books</mat-icon> Quadro Familiar
      </mat-list-item>
    </a>
    <a
      href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Lucas, tudo bem ?&lang=pt_pt"
      target="_blank"
      style="text-decoration: none">
      <mat-list-item>
        <mat-icon>question_answer</mat-icon> Supporte
      </mat-list-item>
    </a>
    <a
      href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Lucas, tudo bem ?&lang=pt_pt"
      target="_blank"
      style="text-decoration: none">
      <mat-list-item> <mat-icon>help_outline</mat-icon> FAQ </mat-list-item>
    </a>
  </mat-list>

  <p class="sidebar__title">Contato</p>

  <mat-list>
    <a
      href="https://lucasspeixoto.github.io/profile/"
      target="_blank"
      style="text-decoration: none">
      <mat-list-item>
        <mat-icon>contact_support</mat-icon> Lucas Peixoto
      </mat-list-item>
    </a>
  </mat-list>
</div>
