@import 'src/styles/colors';
@import 'src/styles/font';
@import 'src/styles/variables';

.sidebar {
  .mat-list-base {
    width: $sidebar-width;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-80;
      padding-bottom: 10px;
    }

    & .mat-list-item {
      display: flex;
      cursor: pointer;
      padding-left: 4px;
      color: $sidebar-font-color;
      width: auto;

      &.active {
        color: $sidebar-font-color-active;
        background-color: $sidebar-background-color-active;
        outline: none;

        & .mat-icon {
          color: $sidebar-icon-color-active;
        }

        & .circle {
          background-color: $sidebar-icon-color-active;
        }
      }

      &:hover {
        background-color: $sidebar-background-color-hover;
      }

      &:focus {
        outline: none;
      }

      .mat-icon {
        height: 30px;
        width: 30px;
        margin-right: 15px;
        color: $sidebar-icon-color;
      }
    }
  }

  &__title {
    color: $sidebar-title-color;
    font-size: $fs-normal;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 24px;
    margin-bottom: 5px;
  }
}
