<mat-list>
  <mat-list-item
    [routerLink]="appRoutes.BILLS"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>event</mat-icon> Contas
  </mat-list-item>
  <mat-list-item
    [routerLink]="appRoutes.PLANS"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>description</mat-icon> Planejamentos
  </mat-list-item>
  <mat-list-item>
    <mat-icon>directions_run</mat-icon> Atividades
  </mat-list-item>
  <mat-list-item>
    <mat-icon>notifications_none</mat-icon> Notificações
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Ajuda</p>

<mat-list>
  <a
    href="https://flatlogic.com/templates"
    target="_blank"
    style="text-decoration: none">
    <mat-list-item>
      <mat-icon>library_books</mat-icon> Quadro Familiar
    </mat-list-item>
  </a>
  <a
    href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Lucas, tudo bem ?&lang=pt_pt"
    target="_blank"
    style="text-decoration: none">
    <mat-list-item>
      <mat-icon>question_answer</mat-icon> Supporte
    </mat-list-item>
  </a>
  <a
    href="https://flatlogic.com/forum"
    target="_blank"
    style="text-decoration: none">
    <mat-list-item> <mat-icon>help_outline</mat-icon> FAQ </mat-list-item>
  </a>
</mat-list>
