<mat-card>
  <mat-card-title>
    {{ bill.title }}
  </mat-card-title>
  <mat-card-subtitle rtl>
    <div class="value">
      <p>Valor</p>
      <h6>{{ bill.value | currency: 'BRL' }}</h6>
    </div>

    <div class="percent">
      <mat-progress-spinner
        diameter="60"
        color="accent"
        mode="determinate"
        [value]="100">
      </mat-progress-spinner>
    </div>
  </mat-card-subtitle>
  <mat-card-actions>
    <p class="value">
      {{ bill.date }}
      <span
        class="value-dot"
        [ngClass]="{
          late: dateStatus === 1,
          today: dateStatus === 2,
          inDay: dateStatus === 3
        }"></span>
    </p>
    <div class="type-icon">
      <mat-icon>{{ billTypeIcons[bill.type] }}</mat-icon>
    </div>
  </mat-card-actions>
</mat-card>
