<ng-container *ngIf="control && control?.invalid && control?.dirty">
  <ul>
    <li *ngIf="control.hasError('required')">Campo Obrigatório</li>
    <li *ngIf="control.hasError('email')">E-mail Inválido</li>
    <li *ngIf="control.hasError('minlength') && minLength">
      O número mínimo de caracteres é {{ minLength }}
    </li>

    <li *ngIf="control.hasError('maxlength') && maxLength">
      O número máximo de caracteres é {{ maxLength }}
    </li>

    <li *ngIf="control.hasError('pattern')">Padrão Inválido</li>

    <li *ngIf="control.hasError('min')">Insira um valor válido</li>
  </ul>
</ng-container>
