<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <h3 class="not-found-page__title-text">Quadro Familiar</h3>
    </div>
    <mat-card class="not-found-page__card">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>
        <p class="not-found-page__card-sub-title">
          A não, você tentou acessar uma página que não existe
        </p>
        <p class="not-found-page__card-sub-title-second">
          Mas é só clicar em 'Voltar' para acessar novamente a aplicação
        </p>
        <button
          class="not-found-page__card-button"
          mat-raised-button
          color="primary"
          routerLink="/bills">
          Voltar
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
