<ng-container *ngIf="messages$ | async as messages">
  <button
    *ngIf="messages.length > 0; else emptyMessage"
    class="message-button"
    mat-mini-fab
    [matMenuTriggerFor]="email">
    <mat-icon
      [matBadge]="messages.length"
      matBadgeColor="accent"
      class="message-button__icon"
      >mail_outline</mat-icon
    >
  </button>
  <ng-template #emptyMessage>
    <button class="message-button" mat-mini-fab [matMenuTriggerFor]="none">
      <mat-icon matBadgeColor="accent" class="message-button__icon"
        >mail_outline</mat-icon
      >
    </button>
  </ng-template>
  <mat-menu #email="matMenu" xPosition="before">
    <div *ngIf="messages.length > 1" class="message-menu-header">
      <h4 class="message-menu-header__title">Mensagens</h4>
      <p class="message-menu-header__subtitle">
        {{ messages.length }} Novas Mensagens
      </p>
    </div>

    <div *ngIf="messages.length === 1" class="message-menu-header">
      <h4 class="message-menu-header__title">Mensagem</h4>
      <p class="message-menu-header__subtitle">
        {{ messages.length }} Nova Mensagem
      </p>
    </div>

    <div
      *ngFor="let message of messages; let i = index"
      class="message-wrapper">
      <div class="message-wrapper__icon-wrapper">
        <button
          class="message-wrapper__icon"
          [ngClass]="message.color"
          mat-mini-fab>
          {{ message.name | shortName }}
        </button>
        <span class="message-wrapper__time">{{ message.time }}</span>
      </div>
      <div class="message-content">
        <span class="message-content__user">{{ message.name }}</span>
        <span class="message-content__message">{{ message.message }}</span>
      </div>
    </div>

    <!-- <div class="show-message-button-wrapper">
      <button class="show-message-button" mat-fab>
        Visualizar
        <mat-icon class="show-message-button__icon">zoom_in</mat-icon>
      </button>
    </div> -->
  </mat-menu>

  <mat-menu #none="matMenu" xPosition="before">
    <div class="message-menu-header">
      <h4 class="message-menu-header__title">Nenhuma Mensagem</h4>
    </div>
  </mat-menu>
</ng-container>
