<app-authentication-layout [title]="'Lembrar Senha'">
  <form
    class="form"
    id="form"
    [formGroup]="forgotPasswordForm"
    (submit)="handleForgotPassword()">
    <mat-form-field class="form__input form__input-field" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error
        ><app-custom-validation-message
          controlName="email"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>
    <button
      class="form__actions-reset app-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="forgotPasswordForm.invalid">
      Resetar
    </button>
    <div class="form__actions-container">
      <button class="form__actions-login" mat-button routerLink="/">
        Login
      </button>
    </div>
  </form>
</app-authentication-layout>
