<div
  class="authentication_layout"
  fxLayout="column wrap"
  fxLayoutAlign="center center">
  <mat-card class="authentication_layout__card" appUpElevation>
    <h3
      fxLayout="column"
      fxLayoutAlign="center center"
      class="authentication_layout__card--title">
      {{ title }}
    </h3>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
  <div class="authentication_layout__copyright">
    Copyright © {{ year }} - Gestão Familiar
  </div>
</div>
